<div>
  <h1>
    <%= @the_board.name %>
  </h1>

  <hr>
    
  <h2>Add a new post</h2>

  <form action="/insert_post" method="post">
    <div>
      <label for="title_box">Title</label>

      <input type="text" id="title_box" name="query_title">
    </div>
    <div>
      <label for="body_box">Body</label>

      <textarea rows="3"></textarea>
    </div>
    <div>
      <label for="expires_on_box">Expires on</label>

      <input type="date" id="expires_on_box" name="query_expires_on">
    </div>

    <button>Add post</button>
</div>

<hr>

<div>
  <h2>Active posts</h2>

  <table border="1">
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th>Posted on</th>
      <th>Expires on</th>
    </tr>


  </table>
</div>
